*
{
	text-align: center;
}

a
{
    text-decoration: none;
    color: blue;
}

h1 ,h2
{
   margin-top: 50px;
   margin-bottom: 40px;
}

h3
{
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn
{
	margin: 5px;
}

.news div * /*aligne le texte à gauche pour tous les éléments dans news, permet la mise en page de tinyMCE*/
{
	text-align: left;
    margin-top:0px;
}

.datePublication
{	
	display: inline-block;
	font-size: x-small;
	margin-bottom: 10px;
}

.news, .commentaire
{
    width:70%;
    margin:auto;
    margin-top: 15px;
    border:1px solid #CCCCCC;
    border-radius: 10px;
    padding: 5px;
}

.commentaire
{
	width: 60%;	
}

.commentaire p
{
	text-align: left;
}

textarea
{
	text-align: left;
	margin-top: 10px;
	width: 60%;
	height: 90px;
}

#auteur
{
	width: 50%;
	max-width: 300px;
}

input
{
	margin: 20px;
}

#deconnexion 
{
	margin-top: 10px;
	margin-bottom: 40px;
}

#administration
{
	margin-top: 40px;
	margin-bottom: 0px;
}

#lienAdmin
{
	margin-top: 30px;
}

@media all and (max-width: 1024px) {

	.news, .commentaire
	{
		width: 100%;
	}

	textarea
	{
		width: 100%;
	}
}